
@import 'variables';

// Style pour le bouton Play
.play-button {
  padding: 10px 20px;
  border: none;
  background-color: $red-color;
  color: $background-color;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($red-color, 10%);
  }
}

// Style pour les flèches du carousel
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

// Style pour le bouton de fermeture de la modale
.close-modal {
  color: $text-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  &:hover, &:focus {
    color: $red-color;
    text-decoration: none;
    cursor: pointer;
  }
}