@import 'variables';
@import 'components';

.titles-container {
  display: block; /* Rend le container en bloc, le rendant approprié pour des mises en page de niveau supérieur */
  width: calc($visible-movies * $movie-width + 4 * $movie-margin); /* Calcule la largeur totale du container basé sur le nombre de films et les marges */
  margin: 0 auto; /* Centre le container horizontalement */
}

.section-header {
  margin-top: 0;
  color: $red-color; /* Utilise une variable pour définir la couleur du texte */
  font-size: 1.5em; /* Définit la taille de la police */
  margin-left: 0; /* Réinitialise la marge gauche */
  padding-left: 10px; /* Ajoute un peu d'espace à gauche du texte */
  text-align: left; /* Alignement du texte à gauche */
}

#best-movie {
  margin-top: 10px; /* Marge en haut */
  max-width: calc($visible-movies * $movie-width + 12 * $movie-margin + 90px); /* Calcule la largeur maximale du container */
  margin-left: 10px / 2; /* Définit une marge gauche spécifique */
  padding: 20px; /* Ajoute du padding autour du contenu */
  border: none; /* Aucune bordure */

  display: flex; /* Utilise Flexbox pour la disposition */
  flex-direction: row; /* Les éléments enfants sont disposés en ligne */
  align-items: center; /* Centre verticalement les éléments enfants */
  justify-content: flex-start; /* Alignement horizontal des enfants au début */

  /* Styles pour le fond doré */
  &.gold-background {
    position: relative; /* Position relative pour permettre un positionnement absolu des pseudos-éléments */

    &::before {
      content: ""; /* Nécessaire pour générer le pseudo-élément */
      position: absolute; /* Position absolue par rapport à son parent */
      top: 0;
      left: 0;
      width: 100%; /* Largeur complète */
      height: 100%; /* Hauteur complète */
      background: 
      linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6)), // Overlay d'ombre noire
      url('../img/—Pngtree—creative metal gold background_926653.jpg') center/cover; // Image de fond et style de remplissage
      z-index: -1; /* Place derrière le contenu */
      opacity: 0.37; /* Transparence pour l'effet de superposition */
      clip-path: ellipse(120% 50% at 50% 50%); /* Forme elliptique pour le fond */
      border-radius: 5%; /* Rayon de la bordure pour arrondir les coins */
    }
  }

  img {
    width: 200px; /* Largeur fixe pour les images */
    height: auto; /* Hauteur ajustée automatiquement pour maintenir le ratio */
  }

  #best-movie-content {
    display: flex; /* Utilise Flexbox pour la disposition */
    flex-direction: column; /* Les éléments enfants sont disposés en colonne */
    align-items: flex-start; /* Alignement horizontal des enfants au début */
    justify-content: center; /* Centre verticalement les éléments enfants */
    margin-left: 20px; /* Marge à gauche */
    margin-right: 90px; /* Marge à droite */
  }

  #best-movie-title {
    margin-bottom: 10px; /* Marge en bas */
    font-size: 1.5em; /* Taille de la police */
    font-weight: bold; /* Police en gras */
  }

  #best-movie-summary {
    font-size: 1em; /* Taille de la police */
    margin-bottom: 10px; /* Marge en bas */
  }
  
  #best-movie-btn {
    @extend .play-button; /* Étend les styles du bouton de lecture */
    align-self: flex-start; /* Alignement spécifique de cet élément */
    margin-top: 10px; /* Marge en haut */
  }
}

.movie-carousel {
  position: relative; /* Position relative pour permettre le positionnement absolu des boutons */
  max-width: 100%; /* Largeur maximale */
  margin: 20px auto; /* Marge en haut et en bas, centré horizontalement */

  .carousel-track-container {
    overflow: hidden; /* Cache le contenu débordant */
    width: calc($visible-movies * $movie-width + 4 * $movie-margin); /* Calcule la largeur du container */
  }

  .carousel-track, .carousel-action-track, .carousel-comedy-track, .carousel-drama-track {
    display: flex; /* Utilise Flexbox pour la disposition */
    transition: transform 0.5s ease-in-out; /* Transition fluide pour les animations */
  }

  .prev-btn, .next-btn {
    @extend .carousel-button; /* Étend les styles du bouton de carrousel */
    &.prev-btn { left: 10px; } /* Position spécifique pour le bouton précédent */
    &.next-btn { right: 10px; } /* Position spécifique pour le bouton suivant */
  }
}

.carousel-slide {
  margin-right: 15px; // Ajoute une marge à droite pour chaque élément du carrousel
}

// Styles pour la modale
.modal {
  display: none; // Cache la modale par défaut
  position: fixed; // Positionnement fixe pour rester au-dessus des autres éléments
  z-index: 1000; // Assure que la modale est au-dessus des autres contenus (détermine l'ordre de superposition).
  left: 0;
  top: 0;
  width: 100%; // Largeur complète
  height: 100%; // Hauteur complète
  overflow: auto; // Permet le défilement si le contenu est trop long
  background-color: rgba(0, 0, 0, 0.6); // Fond semi-transparent

  .modal-content {
    background-color: $background-color;
    margin: 10% auto; // Centré horizontalement avec une marge en haut
    padding: 20px;
    border: 1px solid $red-color;
    width: 80%; // Largeur adaptée à la taille de l'écran
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    img.modal-movie-img {
      max-width: 100%; // Assure que l'image ne dépasse pas la largeur de la modale
      height: auto;
    }

    h3.modal-movie-title {
      color: $red-color;
      font-size: 1.5em;
      margin-bottom: 15px;
    }

    .modal-movie-description {
      margin-top: 25px;
    }
    
    .modal-info {
      margin: 5px 0;

      .modal-section-title {
        color: $red-color;
        margin-right: 10px;
      }

      .modal-value {
        color: $text-color;
      }
    }
  }
}



// Responsivité pour les écrans plus petits
// @media screen and (max-width: 600px) {
//   .modal-content {
//     width: 95%;
//   }
// }







