$background-color: #000; // Noir pour le fond du site
$text-color: #fff; // Blanc pour la couleur du texte
$red-color: #b22101; // Rouge pour le titre
$yellow-color: yellow; // Rouge pour le titre

$movie-width: 200px; // La largeur de chaque film dans le carousel
$movie-margin: 10px; // La marge à droite de chaque film
$visible-movies: 5; // Le nombre de films visibles dans le carousel