$black-color: #000; // Noir pour le fond du site
$text-color: #fff; // Blanc pour la couleur du contenu
$red-color: #b22101; // Rouge pour les titres

$movie-width: 200px; // La largeur de chaque film dans le carousel
$movie-margin: 10px; // La marge à droite de chaque film
$visible-movies: 5; // Le nombre de films visibles dans le carousel